* { font-family: 'Poppins', sans-serif; box-sizing: border-box; margin: 0; padding: 0; }
body { background-color: #f0f9ff; display: flex; justify-content: center; padding: 20px; }
.container { background: white; padding: 30px; border-radius: 20px; text-align: center; width: 100%; max-width: 900px; box-shadow: 0 10px 25px rgba(0,0,0,0.1); }
.tela { display: none; }
.tela.ativa { display: block; }

.campos-topo { display: flex; flex-direction: column; gap: 10px; margin: 20px 0; align-items: center; }
input { width: 100%; max-width: 400px; padding: 12px; border: 2px solid #bae6fd; border-radius: 8px; outline: none; }

button { background-color: #0284c7; color: white; border: none; padding: 15px 35px; border-radius: 12px; cursor: pointer; font-weight: 600; font-size: 16px; transition: 0.3s; }
button:hover { background-color: #0369a1; transform: scale(1.02); }

.grid-wrapper { 
    position: relative; 
    display: inline-block; 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    width: 750px; 
    height: 1000px; 
    border: 3px solid #333; 
    margin-top: 20px;
}

.overlay-grid { 
    display: grid; 
    position: absolute; 
    width: 90%; 
    height: 72%; 
    bottom: 4%; 
    left: 5%; 
    gap: 1px;
}

.quadradinho { border: 1px solid #0284c7; cursor: pointer; }
.quadradinho.marcado { background-color: rgba(2, 132, 199, 0.5); border: 2px solid #000; }
.desativado { pointer-events: none; opacity: 0.7; }
#cronometro { font-size: 38px; font-weight: 700; color: #000; margin-bottom: 5px; }
#status-teste { font-weight: 600; color: #475569; font-size: 18px; }